body 
	{
  		background-image: url("../images/Background3.jpg");
   		position: relative;
    	background-repeat:no-repeat;
    	background-size:100% 100vh;
   	}
		
textarea
	{
		border:solid;
		resize:none;
		overflow:hidden;
		text-align:center;
		font-size:14px;
		font-weight:bold;
		visibility: visible;
	}

#clickMe {
	font-family:"Comic Sans MS", cursive, sans-serif;
	border-radius:25px;
}

h3 {
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
} 

.row {
	padding-top:425px;
}

#wordCategory {
	 transform: rotate(-90deg);
	 font-size: 16px;
}

.col-sm-1 {
	margin-left: -100px;
}

.col-lg-4 {
	margin-left: -25px;
}
